<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    画面ID：SUB0512-01
    画面名：リリースノート(社員用)
-->
<mapper namespace="com.sbisec.helios.ap.companyEmployeeMenu.releaseNote.dao.mapper.IfaReleaseNoteEmployeeMapper">

    <resultMap id="ResultMapIfaReleaseNoteEmployeeSql001" type="com.sbisec.helios.ap.companyEmployeeMenu.releaseNote.dao.model.IfaReleaseNoteEmployeeSql001ResponseModel" >
        <result property="title" column="TITLE" typeHandler="StringTypeHandler"/>
        <result property="displayedDate" column="DISPLAYED_DATE" typeHandler="StringTypeHandler"/>
        <result property="updateTime" column="UPDATE_TIME" typeHandler="StringTypeHandler"/>
        <result property="detailedFile" column="DETAILED_FILE" typeHandler="StringTypeHandler"/>
        <result property="releaseNoteNo" column="RELEASE_NOTE_NO" typeHandler="StringTypeHandler"/>
        <result property="menuName" column="MENU_NAME" typeHandler="StringTypeHandler"/>
        <result property="screenName" column="SCREEN_NAME" typeHandler="StringTypeHandler"/>
        <result property="content" column="CONTENT" typeHandler="StringTypeHandler"/>
        <result property="releaseNoteCoNo" column="RELEASE_NOTE_CO_NO" typeHandler="StringTypeHandler"/>
    </resultMap>

    <!-- 
        SQLID：Sql001
        SQL名：リリースノート一覧取得
        SQLタイプ：select
    -->
    <select id="selectIfaReleaseNoteEmployeeSql001" resultMap="ResultMapIfaReleaseNoteEmployeeSql001" statementType="PREPARED">
        SELECT /* @SQLID=SUB0512-01#Sql001 */
            RN.TITLE AS TITLE,
            TO_CHAR(RN.DISPLAYED_DATE, 'YYYY/MM/DD') AS DISPLAYED_DATE,
            TO_CHAR(RN.UPDATE_TIME, 'YYYY/MM/DD HH24:MI') AS UPDATE_TIME,
            NVL2(RN.DETAILED_FILE,'1','0') AS DETAILED_FILE,
            RN.RELEASE_NOTE_NO AS RELEASE_NOTE_NO,
            RNC.MENU_NAME AS MENU_NAME,
            RNC.SCREEN_NAME AS SCREEN_NAME,
            RNC.CONTENT AS CONTENT,
            RNC.RELEASE_NOTE_CO_NO AS RELEASE_NOTE_CO_NO
        FROM CORDYS.RELEASE_NOTE RN
        LEFT OUTER JOIN RELEASE_NOTE_CONTENTS RNC
            ON RN.RELEASE_NOTE_NO = RNC.RELEASE_NOTE_NO
        <where>
            RN.DISPLAYED_DATE &gt;= TO_DATE(#{displayYear} || '0101', 'YYYYMMDD')
            AND RN.DISPLAYED_DATE &lt;= TO_DATE(#{displayYear} || '1231', 'YYYYMMDD')
        </where>
        ORDER BY
            RN.DISPLAYED_DATE DESC,
            RN.RELEASE_NOTE_NO DESC,
            RNC.RELEASE_NOTE_CO_NO ASC
    </select>

    <!--
        SQLID：Sql002
        SQL名：リリースノート表示対象年取得
        SQLタイプ：select
    -->
    <select id="selectIfaReleaseNoteDisplayYearSql002" resultType="com.sbisec.helios.ap.companyEmployeeMenu.releaseNote.dao.model.IfaReleaseNoteEmployeeSql002ResponseModel" statementType="PREPARED">
        SELECT /* @SQLID=SUB0512-01#Sql002 */
            TO_CHAR(NVL(MIN(DISPLAYED_DATE), SYSDATE), 'YYYY') AS MIN_YEAR,
            TO_CHAR(NVL(MAX(DISPLAYED_DATE), SYSDATE), 'YYYY') AS MAX_YEAR
        FROM CORDYS.RELEASE_NOTE
    </select>

</mapper>