<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    画面ID：SUB0204_02-02_1
    画面名：BB申込訂正・取消入力
-->
<mapper namespace="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.mapper.IfaBbApplyCorrectCancelInputMapper">
    <!-- 全角が入る場合はtypeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"を設定すること -->
    <!-- 住所が入る場合はtype="com.sbibits.horus.ap.common.typehandler.AddressConvertHandler"を設定すること -->
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql001" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql001ResponseModel" >
        <result property="brandName" column="brandName" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
        <result property="brand" column="brand" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
        <result property="assumeCondition" column="assumeCondition" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql002" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql002ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql003" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql003ResponseModel" >
        <result property="officeName" column="officeName" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
        <result property="customerLastNameKanji" column="customerLastNameKanji" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
        <result property="customerFirstNameKanji" column="customerFirstNameKanji" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
        <result property="customerLastNameKana" column="customerLastNameKana" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
        <result property="customerFirstNameKana" column="customerFirstNameKana" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
        <result property="customerNameKanji" column="customerNameKanji" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql004" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql004ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql005" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql005ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql006" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql006ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql007" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql007ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql008" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql008ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql009" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql009ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql010" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql010ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql012" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql012ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql013" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql013ResponseModel" >
    </resultMap>
    
    <resultMap id="ResultMapIfaBbApplyCorrectCancelInputSql014" type="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.model.IfaBbApplyCorrectCancelInputSql014ResponseModel" >
        <result property="bbRemark" column="bbRemark" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
    </resultMap>
    
    
    <!-- 
        SQLID：Sql001
        SQL名：申込期間内銘柄情報取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql001" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql001" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql001 */
        Q.BB_PRODUCT_CODE AS brandCode,
        Q.BB_PRODUCT_NAME AS brandName,
        Q.BB_PRODUCT_NAME || '(' || Q.BB_PRODUCT_CODE || ')' AS brand,
        Q.BB_STOCK AS unit,
        CASE
            WHEN Q.BB_UNIT_KBN = '1' 
            THEN DECODE(Q.BB_STOCK,null,null,TO_CHAR(Q.BB_STOCK,'FM9,999,999,999')||'株')
            WHEN Q.BB_UNIT_KBN = '2' 
            THEN DECODE(Q.BB_STOCK,null,null,TO_CHAR(Q.BB_STOCK,'FM9,999,999,999')||'円')
            WHEN Q.BB_UNIT_KBN = '3' 
            THEN DECODE(Q.BB_STOCK,null,null,TO_CHAR(Q.BB_STOCK,'FM9,999,999,999')||'口')
        END AS applyUnit,
        Q.BB_LOT_DATE AS bbLotDate,
        DECODE(Q.BB_LOT_DATE,null,null,TO_CHAR(Q.BB_LOT_DATE,'YYYY/MM/DD HH24:MI')||'~') AS lotDate,
        Q.BB_GESTURE_VALUE AS issuePriceType,
        Q.BB_PRICE_FROM AS startPriceDisplay,
        Q.BB_PRICE_TO AS finishPriceDisplay,
        Q.BB_PRICE_CUT AS priceDisplayTick,
        Q.BB_DISCOUNT_FROM AS startDiscountRate,
        Q.BB_DISCOUNT_TO AS finishDiscountRate,
        Q.BB_DISCOUNT_CUT AS discountRateTick,
        Q.BB_STRIKE_PRICE AS marketOrderStrikePrice,
        Q.BB_PRESENTATION_FROM AS bookBuildingApplyPeriodFrom,
        Q.BB_PRESENTATION_TO AS bookBuildingPresentationTo,
        TO_CHAR(Q.BB_PRESENTATION_FROM,'YYYYMMDD') AS bookBuildingPresentationFrom,
        TO_CHAR(R.BB_PRESENTATION_FROM,'YYYY/MM/DD HH24:MI') || '~' || TO_CHAR(R.BB_PRESENTATION_TO,'YYYY/MM/DD HH24:MI') AS bookBuildingApplyPeriod,
        Q.BB_SETTLE_DATE AS deliveryDate,
        Q.BB_URGENT_STOP AS urgentStop,
        DECODE(Q.BB_UNIT_KBN,'1','株','2','円','3','口','株') AS sellBuyUnitType,
        Q.BB_IPO_PO_KBN AS ipoPoKbn,
        CASE
            WHEN Q.BB_STRIKE_PRICE = '0' AND Q.BB_GESTURE_VALUE = '1'
            THEN TO_CHAR(Q.BB_PRICE_FROM,'FM9,999,999,999') || '円' || '~' || TO_CHAR(Q.BB_PRICE_TO,'FM9,999,999,999') || '円'
            WHEN Q.BB_STRIKE_PRICE = '0' AND Q.BB_GESTURE_VALUE = '2'
            THEN 'ディスカウント率・' || RTRIM(TO_CHAR(Q.BB_DISCOUNT_FROM,'FM990.9999'),'.') || '%' || '~' || RTRIM(TO_CHAR(Q.BB_DISCOUNT_TO,'FM990.999'),'.') || '%'
            WHEN Q.BB_STRIKE_PRICE = '1' AND Q.BB_GESTURE_VALUE = '1'
            THEN 'ストライクプライス・' || TO_CHAR(Q.BB_PRICE_FROM,'FM9,999,999,999') || '円' || '~' || TO_CHAR(Q.BB_PRICE_TO,'FM9,999,999,999') || '円'
            WHEN Q.BB_STRIKE_PRICE = '1' AND Q.BB_GESTURE_VALUE = '2'
            THEN 'ディスカウント率・ストライクプライス・' || RTRIM(TO_CHAR(Q.BB_DISCOUNT_FROM,'FM990.9999'),'.') || '%' || '~' || RTRIM(TO_CHAR(Q.BB_DISCOUNT_TO,'FM990.999'),'.') || '%'
        END AS assumeCondition,
        R.EDELIV_ONLY_FLAG AS edelivOnlyFlag,
        R.CHANGE_BB_PERIOD_MSG AS periodUpdateMessage,
        R.CHANGE_PRICE_MSG priceUpdateMessage
        FROM 
        ETINTRA.BB_PRODUCT_MASTER Q
        LEFT JOIN
        CORDYS.M_IPO_PO_BB_PERIOD R
        ON 
        Q.BB_PRODUCT_CODE = R.PRODUCT_CODE
        AND
        TO_CHAR(Q.BB_PRESENTATION_FROM,'YYYYMMDD') = R.PRESENTATION_FROM
        WHERE
        IFA_DATE_UTIL.IFA_GET_SDATE('yyyyMMddhh24mi')
        BETWEEN 
        TO_CHAR(R.BB_PRESENTATION_FROM, 'yyyyMMddhh24mi') 
        AND 
        TO_CHAR(R.BB_PRESENTATION_TO, 'yyyyMMddhh24mi')
        <if test='req.brandCode != null and req.brandCode != ""'>
            AND 
            Q.BB_PRODUCT_CODE = #{req.brandCode}
        </if>
    </select>
    
    <!-- 
        SQLID：Sql002
        SQL名：投資家属性のプルダウンリスト取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql002" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql002" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql002 */
        B.BB_SEQ AS investorAttributeValue,
        B.BB_INVESTOR_ATT_NAME AS investorAttributeName
        FROM 
        ETINTRA.BB_INVESTOR_ATT B
        WHERE B.BB_PRODUCT_CODE =　#{req.brandCode}
        AND 
        B.BB_PRESENTATION_FROM = TO_NUMBER(#{req.bookBuildingPresentationFrom})
        ORDER BY 
        B.BB_SEQ ASC
    </select>
    
    <!-- 
        SQLID：Sql003
        SQL名：顧客情報取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql003" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql003" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql003 */
        A.BUTEN_CODE AS butenCode,
        A.ACCOUNT_NUMBER AS accountNumber,
        TRIM(A.UAI_QA_INVESTMENT_PLAN) AS investmentPolicyType,
        TRIM(A.UAI_OCCUPATION) AS professionType,
        TO_NUMBER(NVL(A.UAI_EXP_STOCK, 0)) || '年' AS stockSpotInvestExperienceYears,
        A.UAI_OFFICE_NAME AS officeName,
        A.UAI_QA_FINANCIAL_ASSETS AS financialAssetsType,
        A.CORPORATION_KBN AS corporationType,
        A.UAI_FAMILY_NAME_KANJI AS customerLastNameKanji,
        A.UAI_NAME_KANJI AS customerFirstNameKanji,
        A.UAI_FAMILY_NAME_KANA AS customerLastNameKana,
        A.UAI_NAME_KANA AS customerFirstNameKana,
        A.CUSTOMER_ID AS customerCode,
        A.DEALER_NUMBER AS dealerNumber,
        A.NAME_KANJI AS customerNameKanji,
        TO_CHAR(TO_DATE(A.OPEN_ACCT_DATE, 'YYYYMMDD'), 'YYYY/MM/DD') AS openAcctDate,
        A.TC_COMP_RANK AS complianceRank,
        C.EDELIV_AGREEMENT_KBN AS electronicDocConsentType,
        DECODE(C.EDELIV_AGREEMENT_KBN, 1, TO_CHAR(C.EDELIV_AGREEMENT_DATE, 'YYYY/MM/DD') , '') AS consentDate
        FROM 
        CORDYS.MEDIATE_USER_ATTRIBUTE_INFO A
        LEFT JOIN 
        CORDYS.T_IPO_PO_EDELIV_AGRMNT C
        ON 
        A.BUTEN_CODE = C.BUTEN_CODE
        AND
        A.ACCOUNT_NUMBER = C.ACCOUNT_NUMBER
        WHERE
        A.BUTEN_CODE = #{req.butenCode}
        AND
        A.ACCOUNT_NUMBER = TO_NUMBER(#{req.accountNumber})
        AND
        A.UAI_ACCT_DEL_FLG = '0'
    </select>
    
    <!-- 
        SQLID：Sql004
        SQL名：年間裁量配分割当回数情報を取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql004" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql004" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql004 */ 
        NVL(I.MAX_SAIRYOU_ALLO, 10) - NVL(I.SAIRYOU_ALLO_COUNT, 0) - NVL(J.beforeTransferDiscretionAlloCount, 0) AS ableTimes,
        NVL(I.SAIRYOU_ALLO_COUNT, 0) AS discretionAlloCount,
        NVL(I.MAX_SAIRYOU_ALLO, 10) AS discretionAlloUpperLimit,
        NVL(J.beforeTransferDiscretionAlloCount, 0) AS beforeTransferDiscretionAlloCount,
        J.OLD_BRANCH_NO AS oldButen,
        J.OLD_ACCOUNT_NO AS oldAccountNumber
        FROM 
        CORDYS.MEDIATE_USER_ATTRIBUTE_INFO H
        LEFT JOIN
        ETINTRA.IPO_COUNT_MASTER I
        ON
        H.BUTEN_CODE = SUBSTR(I.BRANCH_NO, 1, 3)
        AND
        H.ACCOUNT_NUMBER = TO_NUMBER(I.ACCOUNT_NO)
        AND
        TO_CHAR(I.ANNUAL,'YYYY') = IFA_DATE_UTIL.IFA_GET_SDATE('YYYY') - CASE WHEN IFA_DATE_UTIL.IFA_GET_SDATE('MM') &lt; '04' THEN 1 ELSE 0 END
        LEFT JOIN 
        (
            SELECT 
            F.BUTEN_CODE,
            F.ACCOUNT_NUMBER,
            F.OLD_BRANCH_NO,
            F.OLD_ACCOUNT_NO,
            NVL(G.SAIRYOU_ALLO_COUNT, 0) AS beforeTransferDiscretionAlloCount
            FROM 
                (
                    SELECT 
                    D.BUTEN_CODE,
                    D.ACCOUNT_NUMBER,
                    E.OLD_BRANCH_NO,
                    E.OLD_ACCOUNT_NO
                    FROM 
                    CORDYS.MEDIATE_USER_ATTRIBUTE_INFO D
                    INNER JOIN
                    CALLCENTER.CHANGE_ACCOUNT E
                    ON
                    D.BUTEN_CODE = SUBSTR(E.NEW_BRANCH_NO, 1, 3)
                    AND
                    D.ACCOUNT_NUMBER = TO_NUMBER(E.NEW_ACCOUNT_NO)
                    WHERE 
                    D.BUTEN_CODE= #{req.butenCode}
                    AND
                    D.ACCOUNT_NUMBER = TO_NUMBER(#{req.accountNumber})
                ) F
            LEFT JOIN 
            ETINTRA.IPO_COUNT_MASTER G
            ON
            F.OLD_BRANCH_NO = G.BRANCH_NO
            AND
            TO_NUMBER(F.OLD_ACCOUNT_NO) = TO_NUMBER(G.ACCOUNT_NO)
            AND 
            TO_CHAR(G.ANNUAL,'YYYY') = IFA_DATE_UTIL.IFA_GET_SDATE('YYYY') - CASE WHEN IFA_DATE_UTIL.IFA_GET_SDATE('MM') &lt; '04' THEN 1 ELSE 0 END
        ) J
        ON
        H.BUTEN_CODE = J.BUTEN_CODE
        AND
        H.ACCOUNT_NUMBER = J.ACCOUNT_NUMBER
        WHERE 
        H.BUTEN_CODE= #{req.butenCode}
        AND
        H.ACCOUNT_NUMBER = TO_NUMBER(#{req.accountNumber})
    </select>
    
    <!-- 
        SQLID：Sql005
        SQL名：裁量配分割当回数(未抽選)情報取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql005" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql005" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql005 */
        COUNT(*) AS count
        FROM
        ETINTRA.BB_PRODUCT_MASTER K
        INNER JOIN
        ETINTRA.SR_ACCEPT L
        ON
        K.BB_PRODUCT_CODE = L.BB_PRODUCT_CODE
        AND
        TO_CHAR(K.BB_PRESENTATION_FROM, 'YYYYMMDD') = TO_CHAR(L.BB_PRESENTATION_FROM)
        AND
        L.BB_BRANCH_CODE = RPAD(#{req.butenCode}, 4, ' ')
        AND
        TO_NUMBER(L.BB_ACCOUNT_NUMBER) = TO_NUMBER(#{req.accountNumber})
        WHERE
        K.BB_LOT = '0'
        AND
        K.BB_IPO_PO_KBN = '1'
    </select>
    
    <!-- 
        SQLID：Sql006
        SQL名：移管前の裁量配分割当回数(未抽選)取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql006" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql006" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql006 */
        COUNT(*) AS count
        FROM
        ETINTRA.BB_PRODUCT_MASTER M
        INNER JOIN
        ETINTRA.SR_ACCEPT N
        ON
        M.BB_PRODUCT_CODE = N.BB_PRODUCT_CODE
        AND
        TO_CHAR(M.BB_PRESENTATION_FROM, 'YYYYMMDD') = TO_CHAR(N.BB_PRESENTATION_FROM)
        AND
        N.BB_BRANCH_CODE = RPAD(#{req.oldButen}, 4, ' ')
        AND
        TO_NUMBER(N.BB_ACCOUNT_NUMBER) = TO_NUMBER(#{req.oldAccountNumber})
        WHERE
        M.BB_LOT = '0'
        AND
        M.BB_IPO_PO_KBN = '1'
    </select>
    
    <!-- 
        SQLID：Sql007
        SQL名：預り資産額を取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql007" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql007" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql007 */
        TO_CHAR(TRUNC(SUM(NVL(P.depositAssetAmount, 0)), -4) / 10000, 'FM9,999,999,999,999,999') || '万円' AS depositAssetAmount
        FROM
        (
            SELECT
            SUM(NVL(O.CURRENCT_PRICE,0)) AS depositAssetAmount
            FROM
            CORDYS.T_BALANCE_PREV O
            WHERE
            O.DATE_YMD = (SELECT MAX(DATE_YMD) FROM CORDYS.T_BALANCE_PREV)
            AND
            O.BUTEN_CODE = #{req.butenCode}
            AND
            O.ACCOUNT_NUMBER = TO_NUMBER(#{req.accountNumber})
            AND
            O.PRODUT_CD IN ('01','51','52','25','12','04','13','15','16','14','99','100','50','98','97','33')
            GROUP BY 
            O.BUTEN_CODE,O.ACCOUNT_NUMBER
            UNION ALL
            SELECT
            TRUNC(SUM(NVL(O.CURRENCT_PRICE, 0)), 0) AS depositAssetAmount
            FROM
            CORDYS.T_BALANCE_PREV O
            WHERE
            O.DATE_YMD = (SELECT MAX(DATE_YMD) FROM CORDYS.T_BALANCE_PREV)
            AND
            O.BUTEN_CODE = #{req.butenCode}
            AND
            O.ACCOUNT_NUMBER = TO_NUMBER(#{req.accountNumber})
            AND
            O.PRODUT_CD = '06'
            GROUP BY 
            O.BRAND_CODE,O.DEPOSIT_TYPE,O.PRODUT_CD
        ) P
    </select>
    
    <!-- 
        SQLID：Sql008
        SQL名：目論見書閲覧状況情報取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql008" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql008" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql008 */
        TO_CHAR(X.READ_TIME, 'YYYY/MM/DD HH24:MI') AS readTime
        FROM
        CORDYS.T_IPO_PO_DOCUMENT_READ X
        WHERE
        X.PRODUCT_CODE = #{req.brandCode}
        AND
        X.PRESENTATION_FROM = TO_NUMBER(#{req.bookBuildingPresentationFrom})
        AND
        X.BUTEN_CODE = #{req.butenCode}
        AND
        X.ACCOUNT_NUMBER = TO_NUMBER(#{req.accountNumber})
        AND
        X.DOCUMENT_ID = '00000'
        AND
        X.VERSION_NUMBER = '000000'
    </select>
    
    <!-- 
        SQLID：Sql009
        SQL名：銘柄コード存在件数取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql009" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql009" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql009 */
        COUNT(*) AS count
        FROM
        ETINTRA.BB_PRODUCT_MASTER S
        WHERE 
        S.BB_PRODUCT_CODE = #{req.brandCode}
    </select>
    
    <!-- 
        SQLID：Sql010
        SQL名：入力データ件数取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql010" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql010" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql010 */
        COUNT(*) AS count
        FROM
        ETINTRA.BB_ACCEPT T
        WHERE
        T.BB_PRODUCT_CODE = #{req.brandCode}
        AND
        T.BB_PRESENTATION_FROM = TO_NUMBER(#{req.bookBuildingPresentationFrom})
        AND
        T.BB_BRANCH_CODE = RPAD(#{req.butenCode}, 4, ' ')
        AND
        TO_NUMBER(T.BB_ACCOUNT_NUMBER) = TO_NUMBER(#{req.accountNumber})
    </select>
    
    <!-- 
        SQLID：Sql012
        SQL名：最良配分あるかフラグ取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql012" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql012" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql012 */
        COUNT(*) AS count
        FROM
        ETINTRA.SR_ACCEPT K
        WHERE
        K.BB_PRODUCT_CODE = #{req.brandCode}
        AND
        K.BB_PRESENTATION_FROM = TO_NUMBER(#{req.bookBuildingPresentationFrom})
        AND
        K.BB_BRANCH_CODE = RPAD(#{req.butenCode}, 4, ' ')
        AND
        TO_NUMBER(K.BB_ACCOUNT_NUMBER) = TO_NUMBER(#{req.accountNumber})
    </select>
    
    <!-- 
        SQLID：Sql013
        SQL名：上限値(売買単位*上限単元数量)取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql013" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql013" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql013 */
        L.BB_STOCK *NVL(M.MAX_ALLOCATION_UNITS,10) AS upperLimit
        FROM 
        ETINTRA.BB_PRODUCT_MASTER L
        LEFT JOIN
        ETINTRA.BB_MAX_ALLOCATION_QUANTITY M
        ON
        L.BB_PRODUCT_CODE = M.BB_PRODUCT_CODE
        AND
        TO_NUMBER(TO_CHAR(L.BB_PRESENTATION_FROM,'YYYYMMDD') ) = M.BB_PRESENTATION_FROM
        WHERE
        L.BB_PRODUCT_CODE = #{req.brandCode}
        AND
        TO_CHAR(L.BB_PRESENTATION_FROM,'YYYYMMDD') = #{req.bookBuildingPresentationFrom}
    </select>
    
    <!-- 
        SQLID：Sql014
        SQL名：BB申込内容取得
        SQLタイプ：select
    -->
    <select id="selectIfaBbApplyCorrectCancelInputSql014" resultMap="ResultMapIfaBbApplyCorrectCancelInputSql014" statementType="PREPARED">
        SELECT /* @SQLID=SUB0204_02-02_1#Sql014 */
        A.BB_BRANCH_CODE AS butenCode,
        A.BB_ACCOUNT_NUMBER AS accountNumber,
        A.BB_QUANTITY AS quantity,
        NVL(TO_CHAR(A.BB_UPDATE_DATE, 'YYYY/MM/DD HH24:MI:SS'), TO_CHAR(A.BB_CREATE_DATE, 'YYYY/MM/DD HH24:MI:SS')) AS bbCreateDate,
        A.BB_STRIKE_PRICE AS marketOrder,
        NVL(A.BB_PRICE, A.BB_DISCOUNT) AS priceDiscountRate,
        A.BB_SEQ AS investorAttributeValue,
        A.BB_INVESTOR_ATT_NAME AS investorAttributeName,
        A.BB_REMARK AS bbRemark,
        F.QUANTITY_SAIRYOU AS discretionQuantity,
        F.CHOSE_REASON AS selectReason
        FROM
        BB_ACCEPT A
        LEFT JOIN
        SR_ACCEPT F
        ON
        A.BB_PRODUCT_CODE = F.BB_PRODUCT_CODE
        AND
        A.BB_PRESENTATION_FROM = F.BB_PRESENTATION_FROM
        AND
        A.BB_BRANCH_CODE = F.BB_BRANCH_CODE
        AND
        TO_NUMBER(A.BB_ACCOUNT_NUMBER) = TO_NUMBER(F.BB_ACCOUNT_NUMBER)
        WHERE
        A.BB_PRODUCT_CODE = #{req.brandCode}
        AND
        A.BB_PRESENTATION_FROM = TO_NUMBER(#{req.bookBuildingPresentationFrom})
        AND
        A.BB_BRANCH_CODE = RPAD(#{req.butenCode}, 4, ' ')
        AND
        TO_NUMBER(A.BB_ACCOUNT_NUMBER) = TO_NUMBER(#{req.accountNumber})
    </select>
    
    
    
    
</mapper>