<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    画面ID：SUB0204_01-02_2
    画面名：BB申込確認
-->
<mapper namespace="com.sbisec.helios.ap.brokerageMenu.ipoPo.dao.mapper.IfaBbApplyConfirmEtintraMapper">
	
	<!-- 
         SQLID：Sql015
         SQL名：BB申込情報登録
         SQLタイプ：insert
    -->
    <insert id="insertIfaBbApplyConfirmSql015" statementType="PREPARED">
        INSERT ALL /* @SQLID=SUB0204_01-02_2#Sql015 */ 
        INTO 
        BB_ACCEPT (
            BB_PRODUCT_CODE,
            BB_PRESENTATION_FROM,
            BB_BRANCH_CODE,
            BB_ACCOUNT_NUMBER,
            BB_DEALER_NUMBER,
            BB_FAMILY_NAME_KANJI,
            BB_NAME_KANJI,
            BB_FAMILY_NAME_KANA,
            BB_NAME_KANA,
            BB_QUANTITY,
            BB_PRICE,
            BB_DISCOUNT,
            BB_SEQ,
            BB_INVESTOR_ATT_NAME,
            BB_REMARK,
            BB_CREATE_DATE,
            BB_CREATE_USER_ID,
            BB_CREATE_SECTION_ID,
            BB_CREATE_SECTION_NAME,
            BB_CREATE_USER_NAME,
            BB_WINNING,
            BB_WINNING_ORDER,
            BB_QUANTITY_ALLOC,
            BB_EXCLUSION,
            BB_EXCLUSION_REASON,
            BB_STRIKE_PRICE
        )
        VALUES(
            #{req.brandCode},
            TO_NUMBER(#{req.bookBuildingPresentationFrom}),
            UPPER(#{req.butenCode}),
            LPAD(#{req.accountNumber}, 7, 0),
            #{req.dealerNumber},
            #{req.customerLastNameKanji},
            #{req.customerFirstNameKanji},
            #{req.customerLastNameKana},
            #{req.customerFirstNameKana},
            TO_NUMBER(#{req.quantity}),
            DECODE(#{req.price}, null, null, TO_NUMBER(#{req.price})),
            DECODE(#{req.discountRate}, null, null, TO_NUMBER(#{req.discountRate})),
            TO_NUMBER(#{req.investorAttributeValue}),
            #{req.investorAttributeName},
            #{req.bbRemark},
            CORDYS.IFA_DATE_UTIL.IFA_GET_DATE,
            #{req.userId},
            #{req.sectionId},
            #{req.branchName},
            #{req.userName},
            '0',
            NULL,
            NULL,
            '0',
            NULL,
            NVL(#{req.marketOrder}, 0)
        )
        <if test="req.discretionQuantity > 0">
            INTO
            SR_ACCEPT (
                BB_PRODUCT_CODE,
                BB_PRESENTATION_FROM,
                BB_BRANCH_CODE,
                BB_ACCOUNT_NUMBER,
                BB_QUANTITY,
                QUANTITY_SAIRYOU,
                CHOSE_REASON,
                SAIRYOU_ALLO_QUANTITY,
                SR_CREATE_DATE,
                SR_UPDATE_USER_ID
            )
            VALUES(
                #{req.brandCode},
                TO_NUMBER(#{req.bookBuildingPresentationFrom}),
                UPPER(#{req.butenCode}),
                LPAD(#{req.accountNumber}, 7, 0),
                TO_NUMBER(#{req.quantity}),
                DECODE(#{req.discretionQuantity}, null, null, TO_NUMBER(#{req.discretionQuantity})),
                #{req.selectReason},
                NULL,
                CORDYS.IFA_DATE_UTIL.IFA_GET_DATE,
                #{req.userId}
            )
        </if>
        SELECT 1 FROM DUAL
    </insert>
</mapper>