<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    画面ID：SUB0202_0208-04_1
    画面名：国内株式注文取消確認
-->
<mapper namespace="com.sbisec.helios.ap.brokerageMenu.customerMenu.dao.mapper.IfaDomesticStockOrderCancelConfirmMapper">
    
    <resultMap id="Sql001Sub" type="com.sbisec.helios.ap.brokerageMenu.customerMenu.dao.model.IfaDomesticStockOrderCancelConfirmSql001SubResponseModel">
    </resultMap>
    
    <!-- 
         SQLID：Sql001
         SQL名：発注前の注文登録
         SQLタイプ：insert
    -->
    <insert
        id="insertIfaDomesticStockOrderCancelConfirmSql001"
		parameterType="com.sbisec.helios.ap.brokerageMenu.customerMenu.dao.model.IfaDomesticStockOrderCancelConfirmSql001SubRequestModel"
        statementType="PREPARED"
		useGeneratedKeys="true"
    	keyProperty="ifaOrderNo"
    >
        <selectKey
            keyProperty="req.ifaOrderNo"
            resultType="String"
            order="BEFORE"
        >
            SELECT 
				CASE WHEN #{req.ifaOrderNo} IS NULL THEN
            		IFA_DATE_UTIL.IFA_GET_SDATE('YYYYMMDD') || LPAD(SEQ_T_JP_ORDER.NEXTVAL, 10, '0')
        		ELSE
            		#{req.ifaOrderNo}
            END FROM DUAL
        </selectKey>
        INSERT /* @SQLID=SUB0202_0208-04_1#Sql001 */ INTO T_JP_ORDER (
        IFA_ORDER_NO
        ,IFA_ORDER_SUB_NO
        ,BUTEN_CODE
        ,ACCOUNT_NUMBER
        ,CUSTOMER_ID
        ,SPECIFIC_KBN
        ,BRAND_CD
        ,MARKET
        ,ORDER_STATUS
        ,TRADE_KBN
        ,QUANTITY
        ,LIMIT
        ,AZUKARI_KBN
        ,PAYMENT_LIMIT
        ,REPAYMENT_METHOD_TYPE
        ,REQUEST_TYPE
        ,ORDER_SYUBETSU
        ,ORDER_SYUBETSU_LIST
        ,KANYU_KBN
        ,JUTYU_KBN
        ,CHECK_INSIDER
        ,CHECK_SOR
        ,CHECK_COMP_WRN_ALERT
        ,SHIKIN_SEIKAKU_KBN
        ,USER_ID
        ,CANCEL_USER_ID
        ,TESUURYOU_KBN
        ,ALTER_FLG
        ,AUTO_ORDER_KIND
        ,RBE_ORDER_KIND
        ,SASINARI_KBN
        ,PRICE
        ,TRIGGER_ZONE
        ,TRIGGER_PRICE
        ,OCO_SASINARI_KBN
        ,OCO_SASHINE
        ,DONE_SASINARI_KBN
        ,DONE_SASHINE
        ,DONE_RBE_ORDER_KIND
        ,DONE_TRIGGER_ZONE
        ,DONE_TRIGGER_NEDAN
        ,DONE_OCO_SASINARI_KBN
        ,DONE_OCO_SASHINE
        ,DONE_LIMIT
        ,JO_ZEI_KBN
        ,ALTER_ORDER_NUM
        ,RBE_ORDER_STATUS
        ,ORDER_TYPE
        ,ORDER_NUM
        ,ACCEPT_DATE
        ,ACCEPT_TIME
        ,SHUBETU
        ,CODE
        ,MESSAGE
        ,ESTIMATE_PRICE
        ,AMOUNT
        ,COMMISSION
        ,CONSUMPTION_TAX
        ,CAPITAL_GAIN_TAX
        ,NET_AMOUNT
        ,COST
        ,TRADE_DATE
        ,SETTLEMENT_DATE
        ,ACCEPT_LIMIT
        ,DONE_ACCEPT_LIMIT
        ,COM_ID_R
        ,AC_POSITION
        ,AC_POSITION_AFTER
        ,AC_BALANCE
        ,AC_BALANCE_AFTER
        ,ORDERED_MARKET
        ,TRADE_DEFICIT_AMOUNT
        ,ISA_BUY_LIMIT
        ,JRNISA_TRANSFER_AMOUNT
        ,SOR_LINK_KBN
        ,UNCLOSED_QUANTITY
        ,UNCLOSED_QUANTITY_AFTER
        ,MARGIN_CAPABILITY
        ,MARGIN_CAPABILITY_AFTER
        ,ACTUAL_GRNT_RATE
        ,ACTUAL_GRNT_RATE_AFTER
        ,APP_INTEREST_RATES
        ,APP_LENDING_STOCK
        ,PREMIUM
        ,TPOINT
        ,TPOINT_AFTER
        ,DAILY_CREDIT_KBN
        ,PAYMENT_LIMIT_DATE
        ,DATE_KBN
        ,BROKER_CODE
        ,INTERMEDIARY_EMP_CD
        ,CREATE_TIME
        ,CREATE_USER
        ,UPDATE_TIME
        ,UPDATE_USER
        ,CCS_SEND_DATE
        ) VALUES( 
             #{req.ifaOrderNo}
            ,#{req.ifaOrderSubNo}            <!-- IFA注文サブ番号 -->
            ,#{req.butenCode}
            ,#{req.accountNumber}            <!-- 口座番号 -->
            ,#{req.kokyakuId}                <!--顧客ID-->
            ,#{req.tokuteiKouzaKbn}          <!--特定口座区分-->
            ,#{req.brandCode}                <!-- 銘柄コード -->
            ,#{req.market}                    <!-- 市場 -->
            ,'2'                            <!-- 注文状況 -->
            ,#{req.tradeCd}                    <!-- 取引種別 -->
            ,#{req.quantity}                <!-- 数量 -->
            ,#{req.yukoKigen}                <!-- 有効期限 -->
            ,#{req.depositType}                <!-- 預り区分 -->
            ,null                                <!-- 弁済期限 -->
            ,null                                <!-- 返済方法 -->
            ,null                                <!-- 返済順序 -->
            ,#{req.orderKind}                    <!-- 注文種別 -->
            ,#{req.orderStatusListOrderClass}    <!-- 注文種別（一覧） -->
            ,#{req.kanyuKbn}                <!--勧誘区分 -->
            ,#{req.receiveOrder}            <!-- 受注方法 -->
            ,#{req.checkInsider}            <!-- 確認項目.インサイダー確認 -->
            ,#{req.checkSor}                <!-- 確認項目.SOR確認 -->
            ,#{req.checkCompWrnAlert}        <!-- アラート内容確認.コンプラチェックワーニング確認（全角半角） -->
            ,#{req.uaiQaFundCharacter}        <!-- 資金性格区分（全角半角） -->
            ,#{req.userId}                    <!-- ユーザーＩＤ（全角半角） -->
            ,#{req.torikeshiUserId}            <!--取消ユーザーID（全角半角）-->
            ,#{req.tesuuryouKbn}            <!-- 手数料区分（全角半角） -->
            ,#{req.teiseiKbn}                <!-- 訂正区分（全角半角） -->
            ,#{req.autoOrderShubetsu}            <!-- 自動注文種別 -->
            ,#{req.rbeChumonShubetsu}        <!-- RBE注文種別（全角半角） -->
            ,#{req.sashinariKbn}            <!-- 指成区分（全角半角） -->
            ,#{req.sashine}                    <!-- 指値（数値(小数)）） -->
            ,#{req.triggerZone}                <!-- トリガ発動ゾーン（全角半角） -->
            ,#{req.triggerNedan}            <!-- トリガ値段（数値(小数)） -->
            ,#{req.ocoSasinariKbn}            <!-- OCO指成区分（全角半角） -->
            ,#{req.ocoSashine}                <!-- OCO指値（数値(小数)） -->
            ,#{req.doneSasinariKbn}            <!-- DONE指成区分（全角半角） -->
            ,#{req.doneSashine}                <!-- DONE指値（数値(小数)） -->
            ,#{req.doneRbeOrderKind}        <!-- DONERBE注文種別（全角半角） -->
            ,#{req.doneTriggerZone}            <!-- DONEトリガ発動ゾーン（全角半角） -->
            ,#{req.doneTriggerNedan}        <!-- DONEトリガ値段（数値(小数)） -->
            ,#{req.doneOcoSasinariKbn}        <!-- DONEOCO指成区分（全角半角） -->
            ,#{req.doneOcoSashine}            <!-- DONEOCO指値（数値(小数)） -->
            ,#{req.doneYuukouKigen}            <!-- DONE有効期限（全角半角） -->
            ,#{req.joutoekizeiKbn}            <!-- 譲渡益税区分（全角半角） -->
            ,#{req.ec}                        <!-- EC受注番号訂正時） -->
            ,#{req.rbeOrderStand}            <!-- RBE注文ステータス -->
            ,'S'                            <!-- 商品区分（全角半角） -->
            ,#{req.ecOrderNo}                <!-- EC受注番号（半角英数字） -->
            ,null                            <!-- 受注日 -->
            ,null                            <!-- 受注時刻 -->
            ,null                            <!-- 種別（全角半角） -->
            ,null                            <!-- エラーコード（半角英数字） -->
            ,null                            <!-- エラーメッセージ（全角半角） -->
            ,null                            <!-- 与信チェック用時価（数値(小数)） -->
            ,null                            <!-- 約定金額（概算）（数値(整数)） -->
            ,null                            <!-- 手数料（概算）（数値(整数)） -->
            ,null                            <!-- 消費税（概算）（数値(整数)） -->
            ,null                            <!-- 譲渡益税（概算）（数値(整数)） -->
            ,null                            <!-- 精算金額（概算）（数値(整数)） -->
            ,null                            <!-- 諸経費（数値(整数)） -->
            ,null                            <!-- 約定予定日 -->
            ,null                            <!-- 受渡予定日 -->
            ,null                            <!-- 受付有効期限（全角半角） -->
            ,null                            <!-- DONE 受付有効期限（全角半角） -->
            ,#{req.comIdR}                   <!-- 手数料区分（採用）（全角半角） -->
            ,null                            <!-- 売却可能数量（数値(整数)） -->
            ,null                            <!-- 注文後の売却可能数量（数値(整数)） -->
            ,null                            <!-- 買付可能金額（数値(整数)） -->
            ,null                            <!-- 注文後の買付可能金額（数値(整数)） -->
            ,null                            <!-- 注文入力市場（全角半角） -->
            ,null                            <!-- 取引不足額（数値(整数)） -->
            ,null                            <!-- ISA買付可能枠（数値(整数)） -->
            ,null                            <!-- ジュニアNISA振替金額（数値(整数)） -->
            ,null                            <!-- SOR連携区分（全角半角） -->
            ,null                            <!-- 決済可能数量（数値(整数)） -->
            ,null                            <!-- 注文後の決済可能数量（数値(整数)） -->
            ,null                            <!-- 建玉余力（数値(整数)） -->
            ,null                            <!-- 注文後の建玉余力（数値(整数)） -->
            ,null                            <!-- 維持率 -->
            ,null                            <!-- 注文後維持率（数値(整数)） -->
            ,null                            <!-- 適用金利（数値(小数)） -->
            ,null                            <!-- 適用貸株料（数値(小数)） -->
            ,null                            <!-- プレミアム料（数値(整数)） -->
            ,null                            <!--  Ｔポイント（数値(整数)） -->
            ,null                            <!--  利用後のＴポイント（数値(整数)） -->
            ,null                            <!-- 一日信用区分 -->
            ,null                            <!-- 弁済期限年月日数 -->
            ,null                            <!-- 年月日区分 -->
            ,#{req.brokerCode}                <!-- 仲介業者コード（数字） -->
            ,#{req.brokerChargeCode}        <!-- 仲介業者営業員コード（半角英数字） -->
            ,IFA_DATE_UTIL.IFA_GET_DATE            <!-- 作成日時 -->
            ,#{req.createUser}                <!-- 作成者 -->
            ,IFA_DATE_UTIL.IFA_GET_DATE            <!-- 更新日時 -->
            ,#{req.updateUser}                <!-- 更新者 -->
            ,null                            <!--   CCS送付日 -->
        )
    </insert>
    
    <!-- 
        SQLID：Sql001
        SQL名：発注前の注文登録
        SQLタイプ：insert
    -->
    <select id="selectIfaDomesticStockOrderCancelConfirmSql001Sub" resultMap="Sql001Sub" statementType="PREPARED">
        SELECT /* @SQLID=SUB0202_0208-04_1#Sql001sub */ 
            IFA_ORDER_NO
            ,IFA_ORDER_SUB_NO
            ,BUTEN_CODE
            ,ACCOUNT_NUMBER
            ,CUSTOMER_ID AS KOKYAKU_ID
            ,SPECIFIC_KBN AS TOKUTEI_KOUZA_KBN
            ,BRAND_CD
            ,MARKET
            ,ORDER_STATUS
            ,TRADE_KBN AS TRADE_CD
            ,QUANTITY
            ,LIMIT AS YUKOKIGEN
            ,AZUKARI_KBN AS DEPOSIT_TYPE
            ,PAYMENT_LIMIT AS PAYMENT_DEADLINE
            ,REPAYMENT_METHOD_TYPE AS REPAY_METHID
            ,REQUEST_TYPE ASREPAY_ORDER
            ,ORDER_SYUBETSU AS ORDER_KIND
            ,ORDER_SYUBETSU_LIST AS ORDER_STATUS_LIST_ORDER_CLASS
            ,KANYU_KBN
            ,JUTYU_KBN AS RECEIVE_ORDER
            ,CHECK_INSIDER
            ,CHECK_SOR
            ,CHECK_COMP_WRN_ALERT
            ,SHIKIN_SEIKAKU_KBN AS UAI_QA_FUND_CHARACTER
            ,USER_ID
            ,CANCEL_USER_ID AS TORIKESHI_USER_ID
            ,TESUURYOU_KBN 
            ,ALTER_FLG AS TEISEI_KBN
            ,AUTO_ORDER_KIND AS AUTO_ORDER_SHUBETSU
            ,RBE_ORDER_KIND AS RBE_CHUMON_SHUBETSU
            ,SASINARI_KBN
            ,PRICE AS SASHINE
            ,TRIGGER_ZONE
            ,TRIGGER_PRICE AS TRIGGER_NEDAN
            ,OCO_SASINARI_KBN 
            ,OCO_SASHINE
            ,DONE_SASINARI_KBN
            ,DONE_SASHINE
            ,DONE_RBE_ORDER_KIND
            ,DONE_TRIGGER_ZONE
            ,DONE_TRIGGER_NEDAN
            ,DONE_OCO_SASINARI_KBN
            ,DONE_OCO_SASHINE
            ,DONE_LIMIT AS DONE_YUUKOU_KIGEN
            ,JO_ZEI_KBN AS JOUTOEKIZEI_KBN
            ,ALTER_ORDER_NUM AS EC
            ,RBE_ORDER_STATUS AS RBE_ORDER_STAND
            ,ORDER_TYPE AS SECURITY_TYPE
            ,ORDER_NUM AS EC_ORDER_NO
            ,ACCEPT_DATE AS ORDER_DATE
            ,ACCEPT_TIME AS ORDER_TIME
            ,SHUBETU
            ,CODE
            ,MESSAGE AS ERR_MESSAGE
            ,ESTIMATE_PRICE
            ,AMOUNT
            ,COMMISSION
            ,CONSUMPTION_TAX
            ,CAPITAL_GAIN_TAX
            ,NET_AMOUNT
            ,COST
            ,TRADE_DATE AS CONTRACT_DATE
            ,SETTLEMENT_DATE AS DELIVERY_DATE
            ,ACCEPT_LIMIT
            ,DONE_ACCEPT_LIMIT
            ,COM_ID_R
            ,AC_POSITION
            ,AC_POSITION_AFTER
            ,AC_BALANCE
            ,AC_BALANCE_AFTER
            ,ORDERED_MARKET
            ,TRADE_DEFICIT_AMOUNT
            ,ISA_BUY_LIMIT
            ,JRNISA_TRANSFER_AMOUNT
            ,SOR_LINK_KBN
            ,UNCLOSED_QUANTITY
            ,UNCLOSED_QUANTITY_AFTER
            ,MARGIN_CAPABILITY
            ,MARGIN_CAPABILITY_AFTER
            ,ACTUAL_GRNT_RATE AS RATE
            ,ACTUAL_GRNT_RATE_AFTER
            ,APP_INTEREST_RATES AS  APPLICABLE_INTEREST_RATE
            ,APP_LENDING_STOCK AS APPLICABLE_STOCK_LENDING_FEES
            ,PREMIUM
            ,TPOINT
            ,TPOINT_AFTER
            ,BROKER_CODE
            ,INTERMEDIARY_EMP_CD AS BROKER_CHARGE_CODE
            ,CREATE_TIME
            ,CREATE_USER
            ,UPDATE_TIME
            ,UPDATE_USER
            ,CCS_SEND_DATE AS CCS_DATE
        FROM T_JP_ORDER
        WHERE
            ORDER_NUM = TO_NUMBER(#{req.ecOrderNo})
            AND BUTEN_CODE = #{req.butenCode}
            AND ACCEPT_DATE &gt;= SUBSTR(#{req.orderDate}, 1, 8)
            AND IFA_ORDER_SUB_NO = (
                SELECT MAX(IFA_ORDER_SUB_NO)
                FROM T_JP_ORDER
                WHERE 
                    ORDER_NUM = TO_NUMBER(#{req.ecOrderNo})
                    AND BUTEN_CODE = #{req.butenCode}
                    AND ACCEPT_DATE &gt;= SUBSTR(#{req.orderDate}, 1, 8)
            )
    </select>
    
    
    <!-- 
        SQLID：Sql002
        SQL名：発注後の注文更新
        SQLタイプ：update
    -->
    <update id="updateIfaDomesticStockOrderCancelConfirmSql002" statementType="PREPARED">
        UPDATE /* @SQLID=SUB0202_0208-04_1#Sql002 */ T_JP_ORDER 
        SET 
            SHUBETU = #{req.shubetu}
            ,CODE = #{req.code}
            ,MESSAGE = #{req.errMessage}
            ,UPDATE_TIME = IFA_DATE_UTIL.IFA_GET_DATE
            ,UPDATE_USER = #{req.updateUser}
            ,ACCEPT_DATE = #{req.orderDate}
            <if test='req.successApi002 == true' >
                ,ACCEPT_TIME = #{req.orderTime}
            </if>
        WHERE
            IFA_ORDER_NO = TO_NUMBER(#{req.ifaOrderNo})
            AND IFA_ORDER_SUB_NO = TO_NUMBER(#{req.ifaOrderSubNo})
    </update>

    <!-- 
        SQLID：Sql002
        SQL名：発注後の注文(更新発注がエラーの場合(API応答なし))
        SQLタイプ：update
    -->
    <update id="updateIfaDomesticStockOrderCancelConfirmSql002b" statementType="PREPARED">
        UPDATE /* @SQLID=SUB0202_0208-04_1#Sql002 */ T_JP_ORDER 
        SET 
            UPDATE_TIME = IFA_DATE_UTIL.IFA_GET_DATE
            ,UPDATE_USER = #{req.updateUser}
            ,ACCEPT_DATE = IFA_DATE_UTIL.IFA_GET_SDATE('YYYYMMDD')
        WHERE
            IFA_ORDER_NO = TO_NUMBER(#{req.ifaOrderNo})
            AND IFA_ORDER_SUB_NO = TO_NUMBER(#{req.ifaOrderSubNo})
    </update>
    
</mapper>