<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    画面ID：SUB0202_010201-04
    画面名：預り残高詳細
-->
<mapper namespace="com.sbisec.helios.ap.brokerageMenu.customerMenu.dao.mapper.IfaDepositBalanceDetailMapper">

    <resultMap id="ResultMapIfaDepositBalanceDetailSql001" type="com.sbisec.helios.ap.brokerageMenu.customerMenu.dao.model.IfaDepositBalanceDetailSql001ResponseModel">
        <result property="basePriceUnit" column="M_F_TANI" typeHandler="StringTypeHandler"/>
        <result property="kyoukaiCd" column="M_F_CODE" typeHandler="StringTypeHandler"/>
    </resultMap>
    <resultMap id="ResultMapIfaDepositBalanceDetailSql002" type="com.sbisec.helios.ap.brokerageMenu.customerMenu.dao.model.IfaDepositBalanceDetailSql002ResponseModel">
        <result property="ipmSeInvestmentsCode" column="IPM_SE_INVESTMENTS_CODE" typeHandler="StringTypeHandler"/>
    </resultMap>
    <resultMap id="ResultMapIfaDepositBalanceDetailSql003" type="com.sbisec.helios.ap.brokerageMenu.customerMenu.dao.model.IfaDepositBalanceDetailSql003ResponseModel"></resultMap>
    <resultMap id="ResultMapIfaDepositBalanceDetailSql004" type="com.sbisec.helios.ap.brokerageMenu.customerMenu.dao.model.IfaDepositBalanceDetailSql004ResponseModel"></resultMap>


    <!--
        SQLID：Sql001
        SQL名：基準価額単位取得
        SQLタイプ：select
    -->
    <select id="selectIfaDepositBalanceDetailSql001" resultMap="ResultMapIfaDepositBalanceDetailSql001" statementType="PREPARED">
        SELECT
            /* @SQLID=SUB0202_010201-04#SQL001 */
            M_F_TANI
            , M_F_CODE
        FROM
            FUND
        <where>
            M_F_NRICODE = #{req.brandCode}
            AND M_F_DELFLG = '0'
        </where>
    </select>

    <!--
        SQLID：Sql002
        SQL名：優先市場取得
        SQLタイプ：select
    -->
    <select id="selectIfaDepositBalanceDetailSql002" resultMap="ResultMapIfaDepositBalanceDetailSql002" statementType="PREPARED">
        SELECT
            /* @SQLID=SUB0202_010201-04#SQL002 */
            IPM_SE_INVESTMENTS_CODE
        FROM
            I_PRODUCT_MASTER
        <where>
            IPM_PRODUCT_FLAG = '0'
            AND SUBSTR(IPM_PRODUCT_CODE,1,5) =  #{req.ipmProductCode}
            AND IPM_PRI_EX_FLAG = '1'
        </where>
    </select>

    <!--
        SQLID：Sql003
        SQL名：外国債券（外貨建）銘柄情報取得
        SQLタイプ：select
    -->
    <select id="selectIfaDepositBalanceDetailSql003" resultMap="ResultMapIfaDepositBalanceDetailSql003" statementType="PREPARED">
        SELECT  /* @SQLID=SUB0202_010201-04#SQL003 */
            RIRITSU / 1000000 AS compoundInterest                    /* 利率 */,
            SHOKAN_YMD AS redemptionDate                             /* 償還日 */,
            RIBARAI_MD_1 AS interestPaymentDate1                     /* 利払月日1 */,
            RIBARAI_MD_2 AS interestPaymentDate2                     /* 利払月日2 */,
            RIBARAI_MD_3 AS interestPaymentDate3                     /* 利払月日3 */,
            RIBARAI_MD_4 AS interestPaymentDate4                     /* 利払月日4 */,
            RIBARAI_KBN AS interestPaymentKbn                        /* 利払区分 */,
            RIBARAI_GETUMATU_KBN AS interestPaymentDateGetsumatsuKbn /* 利払日月末表示区分 */
        FROM
            ZERO_STAR_F_MASTER
        <where>
            TRIM(MG_CD) = SUBSTR(#{req.brandCode}, 1, 5)
        </where>
    </select>

    <!--
        SQLID：Sql004
        SQL名：基準価額取得
        SQLタイプ：select
    -->
    <select id="selectIfaDepositBalanceDetailSql004" resultMap="ResultMapIfaDepositBalanceDetailSql004" statementType="PREPARED">
        SELECT  /* @SQLID=SUB0202_010201-04#SQL004 */
            A.KIJUNKAKAKU AS BASE_PRICE
        FROM
            TOUSHIN_KIJYUN_KAKAKU A
        WHERE
            A.KYOUKAI_CD = ( #{req.kyoukaiCd} )
    </select>

</mapper>
