.display {
  margin: 20px 15px;
}

.form-text {
  font-weight: bold;
}
:deep(.el-dialog__title) {
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
  padding: 0px;
}
:deep(.el-dialog) {
  width: 60%;
  background-color: rgb(253, 253, 253);
}
.el-table th {
  padding: 7px;
  position: relative;
  border: 1px solid rgb(215, 215, 215);
  text-align: center;
  vertical-align: center;
}
.el-table td {
  padding: 5px;
  position: relative;
  border: 1px solid rgb(215, 215, 215);
  vertical-align: center;
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: #00000000;
}
.header-button {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5rem 0.2rem 1rem;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.footer-button {
  padding-top: 20px;
}
:deep(.el-divider--horizontal) {
  margin-top: 0px;
  margin-bottom: 0px;
}
.even-row-color td {
  background-color: rgb(245, 245, 245);
}
.form-button__wrapper {
  display: flex;
  justify-content: flex-end;
  margin: -30px 0 0 auto;
}
._bold_red_l {
  font-weight: 1000;
}
.input-date {
  width: 175px;
}
.withdrawal-form {
  padding-top: 30px;
}
:deep(.el-card__header) {
  background-color: rgba(235, 235, 235, 0.3);
  padding: 1rem;
  border-left: 6px solid #024d94;
  font-weight: bold;
}
:deep(.text-right) .el-input__inner {
  text-align: right;
}
:deep(.el-table) th {
  text-align: center;
}
:deep(.el-table) .__right {
  text-align: right;
}

.center-text {
  text-align: center;
}
:deep(.confirm-dialog) .el-dialog__header {
  padding: 0;
}

:deep(.el-table) td {
  height: 40px;
}
.processed_title {
  margin-left: 0px;
  padding: 15px 10px;
}
