<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbisec.helios.ap.api.athena.dao.mapper.CometCommonMapper">

    <resultMap type="com.sbisec.helios.ap.api.athena.model.AthenaErrorMessageModel" id="AthenaErrorMessageModel">
		<result property="errorMessage" column="ERROR_MESSAGE" typeHandler="StringTypeHandler" />
	</resultMap>
	<!-- Athenaエラーメッセージマスタ（ATHENA_ERROR_MESSAGE_MST）エラーコードとエラーメッセージを取得する -->
	<select id="getAthenaErrorCodeAndMessage" resultMap="AthenaErrorMessageModel" statementType="PREPARED">
		SELECT
			/* @SQLID=CometCommonService.getAthenaErrorCodeAndMessageInternal */
			API_ERROR_CODE,
			ERROR_MESSAGE
		FROM
			ATHENA_ERROR_MESSAGE_MST
		WHERE
			API_ERROR_CODE = #{apiErrorCode}
	</select>


</mapper>
