<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.sbisec.helios.ap.broker.dao.mapper.IpopoBBApplyUploadMapper">

	<resultMap id="ipopoUploadBBCustomerOverMaxCheckModel" type="com.sbisec.helios.ap.broker.model.IpopoUploadBBCustomerOverMaxCheckModel">
	</resultMap>

	<select id="getMaybeSairyouCount" statementType="PREPARED"
		resultMap="ipopoUploadBBCustomerOverMaxCheckModel">
		SELECT
		NVL(A.MAX_SAIRYOU_ALLO,10) - NVL(A.SAIRYOU_ALLO_COUNT,0) - NVL(G.OLD_SAIRYOU_ALLO_COUNT,0) AS
		MAYBE_SAIRYOU_COUNT,
		NVL(A.SAIRYOU_ALLO_COUNT,0) AS SAIRYOU_ALLO_COUNT,
		NVL(G.OLD_SAIRYOU_ALLO_COUNT,0) AS OLD_SAIRYOU_ALLO_COUNT,
		G.OLD_BRANCH_NO,
		G.OLD_ACCOUNT_NO,
		NVL(A.MAX_SAIRYOU_ALLO,10) AS MAX_SAIRYOU_ALLO
		FROM
		MEDIATE_USER_ATTRIBUTE_INFO MUAI
		LEFT JOIN ETINTRA.IPO_COUNT_MASTER A
		ON MUAI.BUTEN_CODE =
		SUBSTR(A.BRANCH_NO,1,3)
		AND MUAI.ACCOUNT_NUMBER = TO_NUMBER(A.ACCOUNT_NO)
		AND
		TO_CHAR(A.ANNUAL,'YYYY') = TO_CHAR(SYSDATE,'YYYY') - CASE WHEN TO_CHAR(SYSDATE,'MM') &lt; '04' THEN 1 ELSE 0 END
		LEFT JOIN
		(
		SELECT
		E.BUTEN_CODE AS BUTEN_CODE,
		E.ACCOUNT_NUMBER AS ACCOUNT_NUMBER,
		NVL(F.SAIRYOU_ALLO_COUNT,0) AS OLD_SAIRYOU_ALLO_COUNT,
		E.OLD_BRANCH_NO,
		E.OLD_ACCOUNT_NO
		FROM
		(
		SELECT
		C.BUTEN_CODE,
		C.ACCOUNT_NUMBER,
		D.OLD_BRANCH_NO,
		D.OLD_ACCOUNT_NO
		FROM MEDIATE_USER_ATTRIBUTE_INFO C
		INNER JOIN CALLCENTER.CHANGE_ACCOUNT D
		ON C.BUTEN_CODE = SUBSTR(D.NEW_BRANCH_NO,1,3)
		AND C.ACCOUNT_NUMBER = TO_NUMBER(D.NEW_ACCOUNT_NO)
		WHERE C.BUTEN_CODE = #{butenCode}
		AND C.ACCOUNT_NUMBER = TO_NUMBER(#{accountNumber})
		) E
		LEFT JOIN ETINTRA.IPO_COUNT_MASTER F
		ON E.OLD_BRANCH_NO = F.BRANCH_NO
		AND E.OLD_ACCOUNT_NO = F.ACCOUNT_NO
		AND TO_CHAR(F.ANNUAL,'YYYY') = TO_CHAR(SYSDATE,'YYYY') - CASE WHEN TO_CHAR(SYSDATE,'MM') &lt; '04' THEN 1 ELSE 0 END
		) G
		ON
		MUAI.BUTEN_CODE = G.BUTEN_CODE
		AND
		MUAI.ACCOUNT_NUMBER = G.ACCOUNT_NUMBER
		WHERE
		MUAI.BUTEN_CODE = #{butenCode}
		AND MUAI.ACCOUNT_NUMBER = TO_NUMBER(#{accountNumber})
	</select>

	<select id="getUnSelectionCount" resultType="Integer"
		statementType="PREPARED">
		SELECT
		COUNT(*)
		FROM
		ETINTRA.BB_PRODUCT_MASTER A
		INNER JOIN ETINTRA.SR_ACCEPT B
		ON A.BB_PRODUCT_CODE =
		B.BB_PRODUCT_CODE
		AND
		TO_CHAR(A.BB_PRESENTATION_FROM,'YYYYMMDD') = TO_CHAR(B.BB_PRESENTATION_FROM)
		AND
		B.BB_BRANCH_CODE = RPAD(#{butenCode}, 4, ' ')
		AND
		B.BB_ACCOUNT_NUMBER = LPAD(#{accountNumber}, 7, 0)
		WHERE
		A.BB_LOT = '0'
		AND
		A.BB_IPO_PO_KBN = '1'
		<if test="brandCode != null">
			AND A.BB_PRODUCT_CODE &lt;&gt; #{brandCode}
		</if>
	</select>

</mapper>
