<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbisec.helios.ap.common.dao.mapper.LinkUrlMapper">

    <!-- URL情報取得 -->
    <!-- IFAPリンクURL（IFAP_LINK_URL）テーブルから、指定したURLIDのURL情報を取得する。 -->
    <select id="getIfapLinkUrl" resultType="com.sbisec.helios.ap.common.model.IfapLinkUrlModel">
        SELECT
            A.URL
            , A.DISP_NAME
            , A.EXT_LINK_FLG 
        FROM
            IFAP_LINK_URL A
        WHERE
            A.URL_ID = #{urlId}
    </select>

    <!-- URLパラメータ情報取得 -->
    <!-- IFAPリンクURLパラメータ（IFAP_LINK_URL_PARAM）テーブルから、指定したURLのURLパラメータ情報を取得する。 -->
    <select id="getIfapLinkUrlParam" resultType="com.sbisec.helios.ap.common.model.IfapLinkUrlParamModel">
        SELECT
            A.PARAM_KEY
            , A.PARAM_VALUE 
        FROM
            IFAP_LINK_URL_PARAM A
        WHERE
            A.URL_ID = #{urlId}
            AND A.PATTERN_ID = #{patternId}
            AND A.HTTP_METHOD = #{httpMethod}
        ORDER BY A.PARAM_SEQ
    </select>

</mapper>
