<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbisec.helios.ap.common.dao.mapper.MediateChargeInfoMapper">

	<resultMap type="com.sbisec.helios.ap.common.model.MediateChargeInfo" id="MediateChargeInfo">
		<result property="brokerChargeName" column="BROKER_CHARGE_NAME" typeHandler="com.sbibits.earth.dao.typehandler.StringTypeHandler"/>
	</resultMap>

	<select id="getMediateChargeInfo" resultMap="MediateChargeInfo" statementType="PREPARED">
		SELECT
			BROKER_CODE,
			BROKER_BRANCH_CODE,
			BROKER_CHARGE_CODE,
			BROKER_CHARGE_NAME
		FROM
		    MEDIATE_CHARGE_INFO
		WHERE
			BROKER_CODE = #{brokerCode}
		AND BROKER_BRANCH_CODE = #{brokerBranchCode}
		AND BROKER_CHARGE_CODE = #{brokerChargeCode}
	</select>

</mapper>
