<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbisec.helios.ap.bizcommon.dao.mapper.Fct032Mapper">

	<resultMap type="com.sbisec.helios.ap.bizcommon.dao.model.Fct032Sql001ResponseModel" id="Fct032Sql001ResponseModel">
	</resultMap>
	
	<resultMap type="com.sbisec.helios.ap.bizcommon.dao.model.Fct032Sql002ResponseModel" id="Fct032Sql002ResponseModel">
	</resultMap>

	<!-- FCT032.SQL001 遡る時間の取得 -->
	<select id="getUserAuthorityBranch" resultMap="Fct032Sql001ResponseModel" statementType="PREPARED">
		SELECT /* @SQLID=FCT032#SQL001 */
			COUNT(*) as COUNT
		FROM
			TB_MED_USERS_PRIV
		WHERE
			USER_ID = #{fct032Sql001RequestModel.userId}
			AND BROKER_ID = #{fct032Sql001RequestModel.brokerId}
			AND SUB_BROKER_ID &lt;> #{fct032Sql001RequestModel.subBrokerId}
	</select>
	
	<!-- FCT032.SQL002 外債買付代金合計の算出 -->
	<select id="getUserAuthority" resultMap="Fct032Sql002ResponseModel" statementType="PREPARED">
		SELECT /* @SQLID=FCT032#SQL002 */
			COUNT(*) as COUNT
		FROM
			TB_MED_USERS_PRIV
		WHERE
			USER_ID = #{fct032Sql002RequestModel.userId}
			AND BROKER_ID &lt;> #{fct032Sql002RequestModel.brokerId}
	</select>
	
</mapper>
