<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbisec.helios.ap.bizcommon.dao.mapper.Fct001Mapper">

    <resultMap type="com.sbisec.helios.ap.bizcommon.dao.model.Fct001Sql001ResponseModel" id="Fct001Sql001ResponseModel">
    </resultMap>

    <select id="getUserCustomerRefAuth" resultMap="Fct001Sql001ResponseModel" statementType="PREPARED">
        SELECT
            /* @SQLID=FCT001#Sql001 */
            BUTEN_CODE,
            ACCOUNT_NUMBER,
            TC_COMP_RANK
        FROM
            MEDIATE_USER_ATTRIBUTE_INFO
        WHERE
        <include refid="privilegeCheck"/>
    </select>
    

    <sql id="privilegeCheck">
        <choose>
            <when test='"1".equals(fct001Sql001RequestModel.privId)'>
                1 = 1
            </when>
            <when test='"3".equals(fct001Sql001RequestModel.privId) or "4".equals(fct001Sql001RequestModel.privId) or "5".equals(fct001Sql001RequestModel.privId)'>
                <if test="fct001Sql001RequestModel.brokerChargeList != null and 0 &lt; fct001Sql001RequestModel.brokerChargeList.size()">
                    (BROKER_CODE IN
                    <foreach item="brokerCharge" index="index"
                        collection="fct001Sql001RequestModel.brokerChargeList" open="(" close=")">
                        <if test="index%1000 == 0 and index!=0">
                            ) OR BROKER_CODE IN (
                        </if>
                        <if test="index%1000 != 0">
                            ,
                        </if>
                        #{brokerCharge.brokerCode}
                    </foreach>
                    )
                </if>
            </when>
            <when test='"2".equals(fct001Sql001RequestModel.privId) or "6".equals(fct001Sql001RequestModel.privId) or "7".equals(fct001Sql001RequestModel.privId) or "8".equals(fct001Sql001RequestModel.privId) or "9".equals(fct001Sql001RequestModel.privId) or "10".equals(fct001Sql001RequestModel.privId) or "13".equals(fct001Sql001RequestModel.privId) or "14".equals(fct001Sql001RequestModel.privId) or "15".equals(fct001Sql001RequestModel.privId)'>
                <if test="fct001Sql001RequestModel.brokerChargeList != null and 0 &lt; fct001Sql001RequestModel.brokerChargeList.size()">
                    ((BROKER_CODE || INTERMEDIARY_EMP_CD ) IN
                    <foreach item="brokerCharge" index="index"
                        collection="fct001Sql001RequestModel.brokerChargeList" open="(" close=")">
                        <if test="index%1000 == 0 and index!=0">
                            ) OR (BROKER_CODE||INTERMEDIARY_EMP_CD) IN (
                        </if>
                        <if test="index%1000 != 0">
                            ,
                        </if>
                        #{brokerCharge.brokerCode}||#{brokerCharge.empCode}
                    </foreach>
                    )
                </if>
            </when>
            <otherwise>
                0=1
            </otherwise>
        </choose>
        AND BUTEN_CODE = #{fct001Sql001RequestModel.butenCode}
        AND ACCOUNT_NUMBER = TO_NUMBER(#{fct001Sql001RequestModel.accountNumber})
    </sql>

</mapper>
