<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbisec.helios.ap.bizcommon.dao.mapper.Fct009Mapper">

    <!--SQL001：共同募集顧客(共募顧客)チェック-->
    <select id="jointSubscriptCustomerCheck" resultType="java.lang.Integer">
        select /* @SQLID=FCT009#SQL001 */
            count(1) as "件数"
         from 
            M_JOINT_USER
         where 
            BUTEN_CODE = #{butenCode}
            and ACCOUNT_NUMBER = TO_NUMBER(#{accountNumber})
            and EDIT_STATUS = '2'
            and END_DATE &gt;= IFA_DATE_UTIL.IFA_GET_SDATE('YYYYMMDD')
            and EDIT_NUMBER = 0
    </select>

</mapper>